code_ws/Data/.avi
code_ws/Data/73500261.avi
code_ws/Data/flier_output.avi
code_ws/Data/flir_output.avi
code_ws/Data/imu_data.csv
code_ws/Data/zed_output.avi
code_ws/Data/flier_output.avi
code_ws/Data/flir_output.avi
code_ws/Data/zed_output.avi
code_ws/src/PatchTrav/misonet_visualizations
code_ws/src/PatchTrav/model_weights
code_ws/src/PatchTrav/logs
code_ws/src/PatchTrav/misonet_visualizations/fc_architecture
code_ws/src/PatchTrav/misonet_visualizations/fc_architecture.png
code_ws/src/PatchTrav/misonet_visualizations/forward_pass_only
code_ws/src/PatchTrav/misonet_visualizations/forward_pass_only.png
code_ws/src/PatchTrav/misonet_visualizations/ir_branch_architecture
code_ws/src/PatchTrav/misonet_visualizations/ir_branch_architecture.png
code_ws/src/PatchTrav/misonet_visualizations/misonet_architecture
code_ws/src/PatchTrav/misonet_visualizations/misonet_architecture.png
code_ws/src/PatchTrav/misonet_visualizations/rgb_branch_architecture
code_ws/src/PatchTrav/misonet_visualizations/rgb_branch_architecture.png
code_ws/src/PatchTrav/misonet_visualizations/simplified_misonet_architecture
code_ws/src/PatchTrav/misonet_visualizations/simplified_misonet_architecture.png
